<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>kosipratishthan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Alleviating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
   <!-- //Custom Theme files -->
	<link href="css/minimal-slider.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	 <!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet"><!-- //online-fonts -->
        <style type="text/css">
        
       
        a.navbar-brand.text-white img {
    height: 4rem !important;
}
#report{
    box-shadow: 0px 3px 10px 0px;
    margin-bottom: 40px;
}

    </style>
</head>
<body>
        <!-- header -->
         <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                   <a class="navbar-brand text-white" href="/home">
                      <img  id="logo" src="images/logo.png"> 
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/trustees">Trustees</a>
                        </li>
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="Survey">Survey Reports</a>
                        </li>
                        
                        <li class="nav-item mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link active" href="/publication">Publication</a>
                        </li>
                       <!--  <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="about.html">About</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="typo.html">Typography</a>
                            </div>
                        </li> -->
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/feedback">Feedback</a>
                        </li>
                     
                    </ul>
                </div>
            </nav>
        </header>
 <!-- main image slider container -->
        <div class="inner-banner">
         </div> 
    <!-- end of main image slider container -->
	<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Publication</li>
        </ol>
    </nav>
	 <!-- services -->
    <div class="agileits-about py-lg-5">
		<div class="container py-4">
			 <div class="text-center wthree-title pb-sm-5 pb-3">
				<h3 class="w3l-sub">Publication</h3>
				
			</div>

        </div>
    </div>
    <div class="container">
         <div class="row">
        <div class="col-md-6" id="report">
            <h3>कोसी के किसान : सर्वेक्षण रिपोर्ट : 2018</h3>
            <div class="box">
               
               <p><b>कालिकापुर और लक्ष्मीनियाँ गाँवों से प्राप्त सर्वेक्षण-सैम्पल पर आधारित संक्षिप्त रिपोर्ट</b><br>

पृष्ठभूमि : यह सर्वेक्षण लक्ष्मीनियाँ ग्राम पंचायत (प्रखंड छातापुर, जिला सुपौल) के भीतर आने वाले कालिकापुर और लक्ष्मीनियाँ गाँवों के सभी 14 वार्डों से लिए गए सैम्पल पर आधारित है। सैम्पल के लिए कम से कम 500 घरों तक पहुँचने का हमारा लक्ष्य था जिससे अधिक से अधिक 1000 घरों तक करने की हमने तैयारी कर रखी थी। 02 अक्टूबर से 10 अक्टूबर तक जमीनी स्तर पर चला यह सर्वेक्षण एक-एक घर-दरवाजे तक जाकर किया गया। इस दौरान हम 917 घरों तक पहुँच पाए जिनमें से 106 घरों के सर्वेक्षण फार्म या तो अपूर्ण रह गए या जानकारी संतोषजनक नहीं थी जिस कारण उन 106 फार्म को रद्द करना पड़ा।........ <span> <a href="report\कोसी प्रतिष्ठान.docx" download><input type="button" value="download"></a></span></p> 
       
        
       
            </div>
        </div>
        <div class="col-md-6" id="report" >
             <div class="box">
                <h3>कालिकापुर-लक्ष्मीनियाँ गाँवों के सर्वेक्षण का सम्पूर्ण डाटा एक्सेस में यहाँ से डाउनलोड करें</h3>
                <a href="report\Kosi Pratishthan Survery 2018 Final.xlsx" download><input id="button1" style="margin-left: 4rem;margin-top: 4rem;background: #ff5d7d;padding: 11px 33px;" type="button" value="download"></a>
            </div>
        </div>
      
        </div>
    </div>

<!-- footer -->
	<?php include('includes/footer.php'); ?>
	<!-- //footer -->
  <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
	<script src="js/minimal-slider.js"></script>
<!-- flexSlider (for testimonials) -->
		<!-- Calendar -->
				<link rel="stylesheet" href="css/jquery-ui.css" />
				<script src="js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker" ).datepicker();
						  });
				  </script>
				<!-- //Calendar -->

	<script defer src="js/jquery.flexslider.js"></script>
	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider (for testimonials) -->

    <!-- script for password match -->

    <!-- script for password match -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>